.number {
	width: 3em;
}

#main label {
	padding: 0 1em;
}

#sender {
	float: right;
	padding: 1ex;
}

label {
	white-space: nowrap;
}

.error {
	color: red;
}

.invalid {
	background-color: red;
}

#message {
	background-color: rgb(88%, 88%, 88%);
	color: black;
}
