input[type="number"] {
	width: 3em;
}

#main label {
	padding: 0 1em;
}

#sender {
	float: right;
	padding: 1ex;
}

label {
	white-space: nowrap;
}

.error {
	color: red;
}

.invalid {
	background-color: red;
}
